.faq {
  color: $white-color;
  background-color: #d32431;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/faq_@1x.jpg") no-repeat 0 120%;
    width: 90vw;
    height: 200px;
    bottom: -60px;
    left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/faq_@2x.jpg");
    }
  }
}

.faq__wrapper {
  position: relative;
  padding: 27px $padding-mobile 151px;
}

.faq__title {
  @include title(30px, 0);
  margin: 0;
  position: relative;
}

.faq__list {
  @include list;
  margin-top: 34px;
}

.faq__item {
  position: relative;
  padding-left: 47px;
  margin-top: 18px;
  text-align: left;

  &::before {
    @include title(41px , 0);
    position: absolute;
    left: 19px;
    top: -18px;
  }

  /* stylelint-disable */
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      &::before {
        content: "#{$i}";
      }
    }
  }
  /* stylelint-enable */
}

.faq__subtitle {
  @include text(15px, 700);
  margin: 0;
}

.faq__text {
  @include text(14px);
  margin: 0;
}

@media (min-width: $base-tablet-width - 100px) {
  .faq {
    &::before {
      background: url("../img/faq_@2x.jpg") no-repeat 0 0;
      width: 867px;
      height: 443px;
      bottom: -50px;
      left: calc(12% - 200px);

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/faq_@4x.jpg");
      }
    }
  }

  .faq__wrapper {
    padding: 40px $padding-tablet 57px;
  }

  .faq__text-wrapper {
    max-width: 500px;
    width: 58%;
    margin-left: auto;
  }

  .faq__title {
    font-size: 35px;
    padding-left: 20px;
  }

  .faq__list {
    padding-left: 0;
  }

  .faq__item {
    margin-top: 40px;

    &--1 {
      padding-right: 0;
    }

    &--2 {
      padding-right: 0;
    }

    &--3 {
      padding-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .faq {
    &::before {
      background-image: url("../img/faq_@4x.jpg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 120%;
      height: 120%;
      bottom: -13%;
      left: 50%;
      transform: translateX(-52%);

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/faq_@4x.jpg");
      }
    }
  }

  .faq__wrapper {
    padding: 113px $padding-desktop 180px;
  }

  .faq__title {
    font-size: 50px;
    padding-left: 0;
  }

  .faq__list {
    margin-top: 40px;
  }

  .faq__item {
    margin-top: 28px;
    padding-left: 50px;

    &::before {
      font-size: 80px;
      top: -30px;
      left: 0;
    }

    &--1 {
      padding-right: 0;
    }

    &--2 {
      padding-right: 0;
    }

    &--3 {
      padding-right: 0;
    }
  }

  .faq__subtitle {
    font-size: 21px;
  }

  .faq__text {
    font-size: 20px;
  }
}

@media (min-width: $max-desktop-width) {
  .faq {
    &::before {
      background-image: url("../img/faq_@4x.jpg");
      width: 1640px;
      height: 843px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/faq_@4x.jpg");
      }
    }
  }

  .faq__wrapper {
    max-width: $max-desktop-width;
    padding-right: $padding-desktop-base;
    padding-left: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }
}
