.thumb {
  background-color: $white-color;
  text-align: left;
  padding: 12px;
  overflow: hidden;
  height: 120px;
}

.thumb__title {
  @include text(14px);
  margin: 0;
}

.thumb__amount {
  @include text(12px);
  margin: 0;
  color: $dark-grey;
}

@media (min-width: $tablet-width) {
  .thumb {
    height: auto;
    padding: 18px;
  }
}
