.thumb {
  background-color: $white-color;
  position: relative;
  text-align: left;
  padding: 12px;
  overflow: hidden;
  height: 37.5vw;
  min-height: 120px;

  &:hover {
    box-shadow: 0px 2px 8px 2px rgba(255,0,68,0.1);
  }
}

.thumb__title {
  @include text(14px);
  position: relative;
  margin: 0;
  z-index: 2;
}

.thumb__amount {
  @include text(12px);
  position: relative;
  margin: 0;
  color: $dark-grey;
  z-index: 2;
}

.thumb__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.thumb__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: $tablet-width) {
  .thumb {
    height: auto;
    padding: 18px;
  }
}

@media (min-width: $desktop-width) {
  .thumb {
    padding: 40px;
  }

  .thumb__title {
    font-size: 24px;
  }

  .thumb__amount {
    font-size: 22px;
  }
}
