.appearence {
  position: relative;
  background-color: $white-color;
  padding-bottom: 25px;
}

.appearence__window {
  overflow: hidden;
}

.appearence__slider {
  @include list;
  display: flex;
  text-align: center;
  width: 200%;
}

.appearence__item {
  flex-shrink: 0;
  width: 50%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0 1px;
}

.appearence__img-wrapper {
  position: relative;
  width: (170px * 100% / 242px);
  padding-top: (196px * 100% / 242px);

  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .1);
}

.appearence__img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appearence__title {
  @include text(14px, 700);
  margin: 33px 0 0;
}

.appearence__price {
  @include title(22px, 0);
  text-align: center;
  margin: 0;
}

.appearence__number {
  @include text(12px);
  color: $black-color;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.appearence__dots {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.appearence__choose {
  text-align: center;
  min-width: 179px;
  margin: 31px auto 0;
}

@media (min-width: $tablet-width) {
  .appearence__window {
    width: 100%;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .appearence__slider {
    width: 100%;
  }

  .appearence__item {
    width: 50%;
  }
}

@media (min-width: $base-tablet-width) {
  .appearence {
    position: relative;
    padding-bottom: 5px;
    background: url("../img/appe-ill_@0,5x.png") no-repeat 10% 63%;
    background-color: $white-color;
  }

  .appearence__window {
    width: 70%;
    margin-left: 25%;
    padding-bottom: 10px;
  }

  .appearence__img-wrapper {
    width:  (195px * 100% / 223px);
    padding-top: (262px * 100% / 223px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .appearence__title {
    font-size: 15px;
    position: absolute;
    bottom: 45px;
  }

  .appearence__price {
    font-size: 17px;
    position: absolute;
    bottom: 30px;
  }

  .appearence__dots {
    display: none;
  }

  .appearence__choose {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .appearence {
    padding-bottom: 35px;
    background: url("../img/appe-ill_@1x.png") no-repeat 4% 77%;
    background-color: $white-color;
  }

  .appearence__title {
    font-size: 22px;
    bottom: 60px;
  }

  .appearence__price {
    font-size: 27px;
    bottom: 39px;
  }

  .appearence__number {
    font-size: 18px;
  }
}
