.filling {
  position: relative;
  background-color: $white-color;
  padding-bottom: 25px;
}

.filling__window {
  margin-top: 30px;
  overflow: hidden;
}

.filling__slider {
  @include list;
  display: flex;
}

.filling__item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filling__img-wrapper {
  background-color: $pink-color;
  position: relative;
  width: 241px;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}

.filling__img {
  min-width: 100%;
  width: auto;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.filling__number {
  @include text(12px);
  color: $white-color;
  position: absolute;
  margin: 0;

  &--inner {
    bottom: 10px;
    right: 10px;
  }

  &--outer {
    display: none;
  }
}

.filling__description {
  padding-bottom: 1px;
}

.filling__title {
  @include text(16px, 700);
  margin: 36px 0 0;
}

.filling__text {
  @include text(14px);
  line-height: 1.2;
  margin: 3px 0 0;
}

.filling__price {
  @include title(22px, 0);
  text-align: center;
  margin: 10px 0 0;
}

.filling__dots {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.filling__choose {
  text-align: center;
  min-width: 179px;
  margin: 25px auto 0;

  &--inner {
    display: none;
  }
}

@media (min-width: $tablet-width + 100px) {
  .filling__window {
    width: 100%;
  }

  .filling__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .filling__img-wrapper {
    width: 210px;
    padding-top: 0;
    height: 239px;
    flex-shrink: 0;
  }

  .filling__img {
    height: 80%;
    width: 100%;
  }

  .filling__number {
    color: $black-color;

    &--inner {
      display: none;
    }

    &--outer {
      display: block;
      top: 77%;
      right: 9%;
    }
  }

  .filling__description {
    padding: 24px 50px 70px 24px;
  }

  .filling__title {
    margin: 0;
    font-size: 18px;
  }

  .filling__text {
    margin: 0;
  }

  .filling__price {
    margin-top: 5px;
    font-size: 25px;
    text-align: left;
  }

  .filling__dots {
    display: none;
  }

  .filling__choose {
    display: none;

    &--inner {
      display: block;
      min-width: 135px;
      font-size: 10px;
      padding: 11px 20px 12px;
      margin: 30px 0 0;
    }
  }
}

@media (min-width: $base-tablet-width) {
  .filling {
    background: url("../img/appe-ill_@0,5x.png") no-repeat 5% 55%;
    background-color: $white-color;
  }

  .filling__window {
    margin: 29px 20px 0 auto;
    width: 76.9%;
  }
}

@media (min-width: $desktop-width) {
  .filling {
    background: url("../img/appe-ill_@1x.png") no-repeat 3% 60%;
    background-color: $white-color;
  }

  .filling__window {
    margin: 45px 40px 0 auto;
    width: 75%;
  }

  .filling__img-wrapper {
    width: 45%;
    padding-top: 45%;
  }

  .filling__number {
    top: 78%;
    right: 10.5%;
    font-size: 18px;
  }

  .filling__description {
    padding: 0 62px 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .filling__title {
    margin: 0;
    font-size: 20px;
  }

  .filling__text {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .filling__price {
    margin-top: 13px;
    font-size: 27px;
  }

  .filling__choose {
    &--inner {
      min-width: 185px;
      font-size: 12px;
      padding: 13px 20px;
      margin: 30px 0 0;
    }
  }
}
