.filling {
  position: relative;
  background-color: $white-color;
  padding-bottom: 25px;
}

.filling__window {
  margin-top: 18px;
  overflow: hidden;
}

.filling__slider {
  @include list;
  display: flex;
}

.filling__item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.filling__img-wrapper {
  background-color: $pink-color;
  position: relative;
  width: 241px;
  height: 113px;
  overflow: hidden;
}

.filling__img {
  width: auto;
  height: 80%;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filling__number {
  @include text(12px);
  color: $white-color;
  position: absolute;
  top: 135px;
  right: (25 * 100% / 280);
}

.filling__description {
  padding-bottom: 1px;
}

.filling__title {
  @include text(16px, 700);
  margin: 36px 0 0;
}

.filling__text {
  @include text(14px);
  line-height: 1.2;
  margin: 3px 0 0;
}

.filling__price {
  @include title(22px, 0);
  text-align: center;
  margin: 10px 0 0;
}

.filling__dots {
  position: absolute;
  top: 178px;
  left: 50%;
  transform: translateX(-50%);
}

.filling__choose {
  text-align: center;
  min-width: 179px;
  margin: 25px auto 0;

  &--inner {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .filling {
    padding-bottom: 57px;
  }

  .filling__window {
    margin: 29px 20px 0 auto;
    width: 76.9%;
  }

  .filling__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .filling__img-wrapper {
    width: 210px;
    height: 239px;
    flex-shrink: 0;
  }

  .filling__number {
    color: $black-color;
    top: 77%;
    right: 9%;
  }

  .filling__description {
    padding: 24px 50px 70px 24px;
  }

  .filling__title {
    margin: 0;
    font-size: 18px;
  }

  .filling__text {
    margin: 0;
  }

  .filling__price {
    margin-top: 5px;
    font-size: 25px;
    text-align: left;
  }

  .filling__dots {
    display: none;
  }

  .filling__choose {
    display: none;

    &--inner {
      display: block;
      min-width: 135px;
      font-size: 10px;
      padding: 11px 20px 12px;
      margin: 30px 0 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .filling {
    padding-bottom: 79px;
  }

  .filling__window {
    margin: 49px 73px 0 auto;
    width: 72.8%;
  }

  .filling__img-wrapper {
    width: 44.6%;
    padding-top: 50.9%;
  }

  .filling__number {
    top: 78%;
    right: 10.5%;
    font-size: 18px;
  }

  .filling__description {
    padding: 66px 62px 70px 42px;
  }

  .filling__title {
    margin: 0;
    font-size: 20px;
  }

  .filling__text {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
  }

  .filling__price {
    margin-top: 13px;
    font-size: 27px;
  }

  .filling__choose {
    &--inner {
      min-width: 185px;
      font-size: 12px;
      padding: 13px 20px;
      margin: 53px 0 0;
    }
  }
}
