.order-form {
  background-color: $white-color;
  padding: 11px 23px 33px 20px;
}

.order-form__title {
  @include title(27px, 0);
  margin: 0;
  text-align: left;
}

.order-form__label {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-form__label-title {
  @include tagline(21px);
  color: $red-color;
  margin: 0;
  padding-right: 15px;
}

.order-form__input {
  border-radius: 15px;
  border: 1px solid $light-grey;
  background-color: transparent;
  padding: 3px 10px;
  margin-left: -6px;
  text-align: center;
}

.order-form__submit {
  text-align: center;
  min-width: 226px;
  margin: 29px auto 0;
}

@media (min-width: $tablet-width) {
  .order-form {
    padding: 6px 45px 43px 44px;
  }

  .order-form__title {
    font-size: 23px;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .order-form__label {
    flex-grow: 2;
    width: 160px;
    margin-right: 20px;

    &--small {
      flex-grow: 1;
      width: 160px;
    }
  }

  .order-form__label-title {
    padding-right: 0;
    text-align: left;
    font-size: 18px;
  }

  .order-form__input {
    background-color: transparent;
    margin: 0;
    margin-top: 5px;
  }

  .order-form__submit {
    text-align: center;
    min-width: 160px;
    margin: 0;
    margin-left: 20px;
    align-self: flex-end;
    font-size: 10px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    padding: 4px 90px 70px 73px;
  }

  .order-form__title {
    font-size: 32px;
  }

  .order-form__label {
    margin-top: 22px;
    flex-grow: 0;
    width: 23%;
    margin-right: 0;

    &--small {
      width: 12%;
      flex-grow: 0;
    }
  }

  .order-form__label-title {
    font-size: 27px;
  }

  .order-form__input {
    border: none;
    border-bottom: 1px solid $dark-grey;
    border-radius: 0;
    margin-top: 15px;
    text-align: left;
  }

  .order-form__submit {
    text-align: center;
    width: 21.4%;
    margin-left: -50px;
    align-self: flex-end;
    font-size: 13px;
  }
}
