.order {
  text-align: center;
  padding: 43px $padding-mobile 0;
}

.order__title {
  @include title(30px, 0);
  margin: 0;
}

.order__tagline {
  @include tagline(22px);
  margin-top: 8px;
  margin-left: -4px;
}

.order__list {
  @include list;
  margin-top: 20px;
}

.order__item {
  position: relative;
  margin-top: 10px;
  text-align: left;
  padding: 2px calc(30% - 50px);
  z-index: 2;
}

.order__loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: darken($pink-color, 10);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s linear;

  &--fade {
    z-index: auto;
    opacity: 0;
  }
}

.order__spinner {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order__subtitle {
  @include title(20px, 0);
  color: $red-color;
  margin: 0;
  text-align: center;
}

.order__subtitle-index {
  font-size: 35px;
  padding-right: 10px;
}

.order__ctrl {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  display: none;
}

@media (min-width: $tablet-width) {
  .order {
    text-align: center;
    padding: 43px $padding-tablet 0;
  }

  .order__title {
    font-size: 35px;
    margin: 0;
  }

  .order__tagline {
    font-size: 26px;
    margin-top: 10px;
    margin-left: 0;
  }

  .order__list {
    margin-top: 30px;
  }

  .order__item {
    margin-top: 21px;
    padding: 0 45px;
  }

  .order__subtitle {
    font-size: 23px;
    line-height: 19px;
    margin: 0;
  }

  .order__subtitle-index {
    font-size: 40px;
    line-height: 45px;
    padding-right: 10px;
  }
}

@media (min-width: $base-tablet-width) {
  .order__spinner {
    width: 25%;
  }
}

@media (min-width: $desktop-width) {
  .order {
    padding: 92px $padding-desktop 10px;
  }

  .order__title {
    font-size: 51px;
  }

  .order__tagline {
    font-size: 36px;
  }

  .order__list {
    margin-top: 49px;
  }

  .order__item {
    margin-top: 35px;
    padding: 0 80px;
  }

  .order__spinner {
    width: 250px;
    height: 250px;
  }

  .order__subtitle {
    font-size: 34px;
    line-height: 30px;
  }

  .order__subtitle-index {
    font-size: 70px;
    line-height: 76px;
    padding-right: 10px;
  }
}

@media (min-width: $max-desktop-width) {
  .order {
    max-width: $max-desktop-width;
    padding-left: $padding-desktop-base;
    padding-right: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }
}
