.size {
  position: relative;
  background-color: $white-color;
  padding-bottom: 25px;
}

.size__window {
  overflow: hidden;
  margin-top: 20px;
}

.size__slider {
  @include list;
  display: flex;
  text-align: center;
  width: 400%;
}

.size__item {
  flex-shrink: 0;
  width: 25%;
  position: relative;
}

.size__img-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.size__img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.size__size {
  @include text(14px);
  margin: 36px 0 0;
}

.size__person {
  @include text(15px);
  margin: -3px 0 0;
  letter-spacing: -0.02em;
}

.size__dots {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.size__choose {
  text-align: center;
  min-width: 179px;
  margin: 56px auto 0;
}

@media (min-width: $tablet-width) {
  .size__slider {
    width: 200%;
  }
}


@media (min-width: $base-tablet-width) {
  .size {
    padding-bottom: 74px;
  }

  .size__window {
    width: 100%;
    margin: 0 auto;
  }

  .size__slider {
    text-align: left;
    width: 100%;
  }

  .size__item {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    align-items: center;
  }

  .size__img-wrapper {
    flex-shrink: 0;
  }

  .size__img {
    &--1 {
      width: 77px;
      height: 77px;
    }

    &--2 {
      width: 107px;
      height: 107px;
    }

    &--3 {
      width: 120px;
      height: 120px;
    }

    &--4 {
      width: 140px;
      height: 140px;
    }
  }

  .size__number {
    color: $black-color;
    top: auto;
    right: 24px;
    bottom: 0;
    margin: 0;
  }

  .size__size {
    font-size: 15px;
    margin: 20px 0 0;
  }

  .size__person {
    font-size: 13px;
    margin: 3px 0 0;
  }

  .size__dots {
    display: none;
  }

  .size__choose {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .size {
    padding-bottom: 127px;
  }

  .size__item {
    padding-top: 70px;
  }

  .size__img {
    &--1 {
      $size: 50%;
      width: $size;
      height: $size;
    }

    &--2 {
      $size: 60%;
      width: $size;
      height: $size;
    }

    &--3 {
      $size: 70%;
      width: $size;
      height: $size;
    }

    &--4 {
      $size: 80%;
      width: $size;
      height: $size;
    }
  }

  .size__size {
    font-size: 20px;
    letter-spacing: -0.01em;
    margin-top: 20px;
  }

  .size__person {
    font-size: 18px;
    margin-top: 3px;
  }
}
