.size {
  position: relative;
  background-color: $white-color;
  padding-bottom: 25px;
}

.size__slider {
  @include list;
  display: flex;
  overflow: hidden;
  text-align: center;
}

.size__item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.size__img-wrapper {
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size__size {
  @include text(14px);
  margin: 36px 0 0;
}

.size__person {
  @include text(15px);
  margin: -3px 0 0;
  letter-spacing: -0.02em;
}

.size__dots {
  position: absolute;
  top: 241px;
  left: 50%;
  transform: translateX(-50%);
}

.size__choose {
  text-align: center;
  min-width: 179px;
  margin: 56px auto 0;
}
