.advantages {
  padding: 26px 0 0;
}

.advantages__title {
  @include title(30px, 0);
  text-align: center;
  margin: 0;
}

.advantages__tagline {
  @include tagline(22px);
  margin-top: 6px;
  text-align: center;
}

.advantages__list {
  @include list;
  text-align: center;
  padding: 10px $padding-mobile 14px;
  background-color: $white-color;
  margin-top: 14px;
}

.advantages__item {
  position: relative;
  padding: 72px 0 0;

  &--natural::before {
    content: "";
    position: absolute;
    background: url("../img/icon-leaf.svg") no-repeat 0 0;
    width: 61px;
    height: 61px;
    top: 0;
    left: calc(50% - 30px);
  }

  &--cake::before {
    content: "";
    position: absolute;
    background: url("../img/cake-icon.png") no-repeat 0 0;
    width: 84px;
    height: 50px;
    top: 10px;
    left: calc(50% - 42px);
  }
}

.advantages__subtitle {
  @include text(16px, 700);
  margin: 0;
}

.advantages__text {
  @include text(14px);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 59px 0 85px;
    background: url("../img/adv_@0,5x.png") no-repeat -10px 100%;
    background-size: 37vw auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/adv_@1x.png");
    }
  }

  .advantages__title {
    font-size: 35px;
  }

  .advantages__tagline {
    font-size: 26px;
  }

  .advantages__list {
    text-align: left;
    padding: 34px $padding-mobile 14px;
    background-color: transparent;
  }

  .advantages__item {
    padding: 12px 50px 0 57.4%;

    &--natural::before {
      width: 47px;
      height: 47px;
      top: 13px;
      left: calc(50% - 15px);
    }

    &--cake::before {
      width: 64px;
      height: 38px;
      top: 17px;
      left: calc(50% - 25px);
      background-size: cover;
    }
  }

  .advantages__subtitle {
    @include text(16px, 700);
    margin: 0;
  }

  .advantages__text {
    @include text(14px);
    margin: 0;
  }
}
