.feedback {
  position: relative;
  text-align: center;
  padding: 39px $padding-mobile 0;
}

.feedback__title {
  @include title(30px, 0.015em);
  margin: 0;
}

.feedback__window {
  position: relative;
  overflow: hidden;
}

.feedback__slider {
  @include list;
}

.feedback__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.feedback__img-wrapper {
  position: relative;
  width: (58px * 100% / 280px);
  padding-top: (58px * 100% / 280px);
  border-radius: 50%;
  overflow: hidden;
}

.feedback__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.feedback__name {
  @include text(14px, 700);
  margin: 5px 0 0;
}

.feedback__desc {
  @include text(12px);
  margin: -1px 0 0;
}

.feedback__text-wrapper {
  @include text(12px);
  padding: 5px 25px 5px;
  line-height: 14.3px;
}

.feedback__number {
  @include text(12px);
  position: absolute;
  right: 22%;
  bottom: 0;
  color: $red-color;
}

.feedback__dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .feedback {
    padding: 34px $padding-tablet 0;
  }

  .feedback__title {
    font-size: 35px;
  }

  .feedback__window {
    position: relative;
    width: 55.3%;
    margin: 0 auto;
  }

  .feedback__slider {
    @include list;
  }

  .feedback__item {
    align-items: flex-start;
    padding: 20px 0 43px (130px * 100% / 400px);
  }

  .feedback__img-wrapper {
    width: (108px * 100% / 400px);
    padding-top: (108px * 100% / 400px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .feedback__name {
    font-size: 15px;
  }

  .feedback__desc {
    font-size: 14px;
  }

  .feedback__text-wrapper {
    text-align: left;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
  }

  .feedback__dots {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 88px $padding-desktop 0;
  }

  .feedback__title {
    font-size: 50px;
  }

  .feedback__window {
    width: 52%;
  }

  .feedback__item {
    padding: 50px 0 43px (260px * 100% / 633px);
  }

  .feedback__img-wrapper {
    width: 33%;
    padding-top: 33%;
  }

  .feedback__name {
    font-size: 26px;
  }

  .feedback__desc {
    font-size: 20px;
  }

  .feedback__text-wrapper {
    padding-top: 9px;
    font-size: 18px;
    line-height: 25px;
  }

  .feedback__number {
    right: 22%;
    top: auto;
    bottom: 3%;
    font-size: 18px;
  }
}

@media (min-width: $max-desktop-width) {
  .feedback {
    max-width: $max-desktop-width;
    padding-left: $padding-desktop-base;
    padding-right: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }
}
