.cakes {
  text-align: center;
  padding: 42px $padding-mobile 0;
}

.cakes__title {
  @include title(30px, 0);
  margin: 0;
}

.cakes__list {
  @include list;
  margin-top: 33px;
}

.cakes__item {
  display: flex;
  margin-top: 10px;
}

.cakes__item > * {
  flex-grow: 1;
}

@media (min-width: $tablet-width) {
  .cakes {
    align-items: center;
    text-align: left;
    padding: 114px $padding-tablet 0;
  }

  .cakes__title {
    font-size: 35px;
  }

  .cakes__list {
    margin-top: 39px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 22.5vw);
    grid-template-areas:
      "a1 a1 a1 a2 a2"
      "a1 a1 a1 a3 a3"
      "a4 a4 a6 a6 a6"
      "a5 a5 a6 a6 a6";
    grid-column-gap: 2.9vw;
    grid-row-gap: 2.9vw;
  }

  .cakes__item {
    margin: 0;
    /* stylelint-disable */
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        grid-area: a#{$i};
      }
    }
    /* stylelint-enable */
  }
}

@media (min-width: $desktop-width) {
  .cakes {
    padding: 0 $padding-desktop 0;
    margin-top: -45px;
  }

  .cakes__title {
    font-size: 50px;
    margin-left: -3px;
  }

  .cakes__list {
    margin-top: 65px;
    grid-template-rows: repeat(4, 22.5vw);
  }
}

@media (min-width: $max-desktop-width) {
  .cakes {
    max-width: $max-desktop-width;
    padding-left: $padding-desktop-base;
    padding-right: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }

  .cakes__list {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: repeat(4, 307px);
  }
}
