.footer {
  background-color: $dark-grey;
  margin-top: 20px;
}

.footer__wrapper {
  padding: 32px $padding-mobile 0;
}

.footer__logo-wrapper {
  position: relative;
  height: 40px;
  width: 83px;
}

.footer__logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.footer__nav {
  margin-top: 16px;
}

.footer__social {
  margin-top: 14px;
  margin-left: -13px;
}

.footer__hr {
  margin: 28px 0 0;
  background-color: $light-grey;
  color: $light-grey;
  border: 0;
  height: 1px;
}

.footer__copyright {
  color: $white-color;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 0 8px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    margin-top: 0;
  }

  .footer__wrapper {
    padding: 32px $padding-tablet 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__logo-wrapper {
    height: 20px;
    width: 60px;
    margin-right: 10%;
  }

  .footer__nav {
    margin-top: 0;
    flex-grow: 1;
  }

  .footer__social {
    margin: 0;
    margin-left: 40px;

    @media (max-width: $desktop-width - 1) {
      order: 7;
    }
  }

  .footer__social .social__link {
    background-color: green;
  }

  .footer__hr {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__copyright {
    font-size: 14px;
    padding: 8px 0 5px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    background-color: $light-grey;
  }

  .footer__wrapper {
    padding: 35px $padding-tablet 10px;
  }

  .footer__logo-wrapper {
    height: 20px;
    width: 80px;
    margin-right: 5%;
  }

  .footer__hr {
    background-color: $dark-grey;
    color: $dark-grey;
    margin-top: 38px;
  }

  .footer__copyright {
    color: $dark-grey;
  }
}

@media (min-width: $max-desktop-width) {
  .footer__wrapper {
    max-width: $max-desktop-width;
    padding-right: $padding-desktop-base;
    padding-left: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }
}
