.footer {
  background-color: $dark-grey;
  margin-top: 43px;
  padding: 32px $padding-mobile 0;
}

.footer__logo-wrapper {
  height: 40px;
  display: flex;
  align-items: flex-end;
  width: 83px;
}

.footer__logo {
  width: 100%;
  height: auto;
}

.footer__nav {
  margin-top: 16px;
}

.footer__social {
  margin-top: 14px;
  margin-left: -13px;
}

.footer__hr {
  margin: 28px 0 0;
  background-color: $light-grey;
  color: $light-grey;
  border: 0;
  height: 1px;
}

.footer__copyright {
  color: $white-color;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 0 8px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    margin-top: 0;
    padding: 32px $padding-tablet 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__logo-wrapper {
    height: 20px;
    width: 60px;
    align-items: center;
    margin-right: 10%;
  }

  .footer__nav {
    margin-top: 0;
    flex-grow: 1;
  }

  .footer__social {
    margin: 0;
    margin-left: 40px;
    order: 7;
  }

  .footer__social .social__link {
    background-color: green;
  }

  .footer__hr {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__copyright {
    font-size: 14px;
    padding: 8px 0 5px;
  }
}
