.intro {
  background: url("../img/intro_mobile@1x.png") no-repeat 42% -170px;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: $max-desktop-width;
  padding: 167px $padding-mobile 0;
}

.intro__title {
  @include title(40px, 0.075em);
  line-height: 36px;
  padding: 0 55px;
  margin: 0;
}

.intro__tagline {
  @include tagline(22px);
  margin-top: 20px;
}

.intro__list {
  @include list;
  margin-top: 20px;
}

.intro__item {
  @include text(14px);
  position: relative;
  padding-left: 40px;
  padding-right: 30px;
  text-align: left;
  min-height: 35px;
  margin-bottom: 8px;

  &--natural::before {
    content: "";
    background: url("../img/icon-leaf.svg") no-repeat 0 0;
    width: 33px;
    height: 33px;
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
  }

  &--gift::before {
    content: "";
    background: url("../img/icon-gift.svg") no-repeat 0 0;
    width: 33px;
    height: 33px;
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
  }
}

.intro__btn {
  margin-top: 31px;
  min-width: 225px;
}

@media (min-width: $tablet-width) {
  .intro {
    background: url("../img/intro_tablet@1x.png") no-repeat 329px 80%;
  }

  .intro__wrapper {
    padding: 157px calc(27px + #{$padding-tablet}) 20px;
    align-items: flex-start;
    text-align: left;
  }

  .intro__title {
    font-size: 74px;
    line-height: 55px;
    letter-spacing: 0.06em;
    padding-left: 0;
  }

  .intro__tagline {
    font-size: 36px;
    padding-left: 0;
    margin-top: 26px;
  }

  .intro__list {
    order: 4;
    margin-top: 162px;
    display: flex;
    align-items: center;
    width: 78%;
  }

  .intro__item {
    padding-left: 67px;
    padding-right: 60px;
    min-height: 35px;

    &::before {
      width: 55px;
      height: 55px;
      top: calc(50% - 30px);
    }
  }

  .intro__btn {
    margin-top: 54px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    position: relative;
    background-image: url("../img/intro_tablet@2x.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 373px) 0;
    background-size: 920px 920px;
    min-height: 920px;
  }

  .intro__wrapper {
    padding: 126px $padding-desktop 20px;
    align-items: flex-start;
    text-align: left;
  }

  .intro__title {
    font-size: 96px;
    line-height: 70px;
  }

  .intro__tagline {
    font-size: 41px;
    margin-top: 29px;
  }

  .intro__list {
    margin-top: 143px;
    width: 510px;
  }

  .intro__btn {
    margin-top: 58px;
  }
}

@media (min-width: $max-desktop-width) {
  .intro__wrapper {
    max-width: $max-desktop-width;
    padding-left: $padding-desktop-base;
    padding-right: $padding-desktop-base;
    margin-left: auto;
    margin-right: auto;
  }
}
