.header-nav {
  min-width: 320px;
}

@media (max-width: ($desktop-width - 1px)) {
  .header-nav--closed .header-nav__list {
    display: none;
  }
}

.header-nav__toggle {
  position: absolute;
  top: -25px;
  right: $padding-mobile;
  width: 18px;
  height: 14px;
  cursor: pointer;
}

.header-nav__list {
  background-color: $light-grey;
  width: 100%;
}

@media (max-width: ($desktop-width - 1px)) {
  .header-nav--closed .header-nav__list {
    display: none;
  }
}

.header-nav__item:not(:last-child) {
  border-bottom: 1px solid $medium-grey;
}

.header-nav__link {
  @include text(12px);
  color: $black-color;
  text-align: center;
  text-transform: uppercase;

  display: block;
  padding: 12px $padding-mobile;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .header-nav__toggle {
    top: -40px;
    left: 50%;
    width: 23px;
    height: 18px;
  }

  .header-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-nav__item {
    padding-right: 0;
    padding-left: 0;
    border: 0;
    font-weight: 400;
    line-height: 25px;

    &:not(:last-child) {
      border-bottom: 0;
    }
  }

  .header-nav__link {
    padding: 12px 5px;
  }
}

@media (min-width: $desktop-width) {
  .header-nav__toggle {
    display: none;
  }

  .header-nav__list {
    background-color: transparent;
  }

  .header-nav__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .header-nav__link {
    padding: 2px;
    font-size: 13px;

    &--index {
      color: $white-color;
    }

    &--index-active {
      border-bottom: 2px solid $white-color;
    }
  }
}
