.header {
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__nav {
  position: absolute;
  width: 100%;
}

.header__logo-wrapper {
  height: 40px;
  width: 46px;
  margin-left: $padding-mobile;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__phone {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .header__logo-wrapper {
    height: 60px;
    margin-left: $padding-tablet;
    padding-left: 27px;
    width: 90px;
  }

  .header__nav {
    top: 100%;
  }

  .header__phone {
    @include text(15px, 700);
    display: block;
    margin: 0;
    margin-right: $padding-tablet;
    padding-right: 27px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    position: relative;
    padding: 40px $padding-desktop 0;
    background-color: transparent;
  }

  .header__nav {
    position: relative;
    top: auto;
    margin-right: auto;
    margin-left: 39px;
    width: auto;
  }

  .header__logo-wrapper {
    height: 60px;
    margin: 0;
    padding: 0;
    width: 68px;
    flex-shrink: 0;
  }

  .header__logo {
    transform: translateY(3px);
  }

  .header__phone {
    margin-right: 0;
    padding-right: 0;
    flex-shrink: 0;
  }
}

@media (min-width: $max-desktop-width) {
  .header {
    max-width: $max-desktop-width;
    margin: 0 auto;
  }
}
